@page
@model Crud.Pages.alumnos.EditModel
@{
    ViewData["Title"] = "Editar alumno";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Alumno.Id"/>

                <div class="card">
                    <div class="card-header">
                        Editar alumno
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="Alumno.names">Nombres</label>
                            <input asp-for="Alumno.names" placeholder="Ingresa los nombres del alumno" class="form-control"/>
                            <span asp-validation-for="Alumno.names" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Alumno.lastnames">Apellidos</label>
                            <input asp-for="Alumno.lastnames" placeholder="Ingresa los apellidos del alumno" class="form-control"/>
                            <span asp-validation-for="Alumno.lastnames" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Alumno.phone">Teléfono</label>
                            <input asp-for="Alumno.phone" placeholder="ingresa el número de teléfono del alumno" class="form-control"/>
                            <span asp-validation-for="Alumno.phone" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Alumno.email">Correo electrónico</label>
                            <input asp-for="Alumno.email" placeholder="ingresa el correo electrónico del alumno" class="form-control"/>
                            <span asp-validation-for="Alumno.email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Alumno.address">Dirección de residencia</label>
                            <input asp-for="Alumno.address" placeholder="Ingresa la dirección completa del alumno" class="form-control"/>
                            <span asp-validation-for="Alumno.address" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Alumno.birthday">Fecha de nacimiento</label>
                            <input type="date" asp-for="Alumno.birthday" placeholder="Ingresa la dirección completa del alumno" class="form-control"/>
                            <span asp-validation-for="Alumno.birthday" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-end">
                            Actualizar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
}