@page
@model IndexModel
@{
    ViewData["Title"] = "Bienvenid@";
}

<div class="container">
    <div class="row">
        <article class="card p-3 col-md-6 offset-3 shadow-sm mt-3">
            <h1>Bienvenido a la prueba técnica ingresa al enlace de alumnos para poder realizar las operaciones CRUD</h1>
            <p>Desarrollado con ASP.NET v6 sin MVC</p>
            <a href="https://github.com/DennisMartel" target="_blank">Perfil de github</a>
        </article>
    </div>
</div>
